.pro-primary-heading {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

.primary-heading {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}
.Secondary-heading {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.link,
.container {
  padding: 0;
}
.glass {
  background: white;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: row;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
}
.active {
  background: transparent !important;
  border: none;
  outline: none;
}
.active .fas {
  color: rgb(102, 94, 83);
}
.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 !important;
}
.fas {
  color: black;
  font-size: 1.3rem;
  z-index: 9;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}
.imp-text {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1.5rem;
  position: relative;
  z-index: 2;
  background-blend-mode: darken;
  width: max-content;
}

.imp-text h2 {
  width: 100%;
  color: #730dfc;
  font-weight: 600;
}

.input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  z-index: 3;
  outline: none;
}
.card-form,
.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.post-box {
  height: 80vh !important;
  overflow: auto;
}
.BackgroundLandingPAge {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 0;
}

.landingNavBar {
  z-index: 2;
}
.card-form {
  width: 100%;
  margin: auto;
  align-self: center;
  z-index: 3;
  height: 100%;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 234, 0.603);
}
